{% extends "basic.html" %}
{% block title %} Resume {% endblock title %}

{% block body %} 

<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>As an enthusiastic candidate, Iam looking for UI/UX Designer and MERN Full Stack Web Development role. I excel in both collaborative team setting and as an independent contributor.possessing  a strong drive for innovation of Designs, design problems and design principles.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Apprenticeship</h3>
          <div class="resume-item pb-0">
              <h4>PW Skills</h4>
            <h5>Mar 2023 - Mar 2025</h5>
            <ul>
              <li>Noida, UP</li>
              <li>+91 6361388292</li>
              <li>support@pwskills.com</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          
          <div class="resume-item">
            <h4>Bachelor of Technology </h4>
            <h5>2021 - 2025</h5>
            <p><em>Godavari Institute Of Engineering And Technology(A), rajahmundry, AP</em></p>
            <p>I am pursuving Computer Science And Engineering with  </p>
            <p>Grade : 8.3%</p>

            
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Intermediate</h4>
            <h5>2019 - 2021</h5>
            <p><em>Aditya Junior Collage, Kakinada, AP</em></p>
            <p>I am pursuved Intermediate in MPC (Mathematics , Physics , Chemistry) with  </p>
            <p>Grade: 90.17%</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>SSC Higher Secondary Education</h4>
            <h5>2018 - 2019</h5>
            <p><em>Sri Kamal Vidhyalaya E.M High School, Kakinada, AP</em></p>
            <p>I am pursuved Secondary School Certificate with  </p>
            <p>Grade : 9.5 GPA</p>
          </div><!-- Edn Resume Item -->


        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Internship Experience</h3>
          <div class="resume-item">
            <h4>Django Frameworks Using Python</h4>
            <h5>May 2023 - Jul 2023</h5>
            <p><em>Remote, Kakinada, AP </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the frontend, backend, and database</li>
              <li>Delegate tasks to the 4 members of the team and provide counsel on all aspects of the project. </li>
              <li>Mentor assessment all implementation process in order to ensure quality and accuracy of the design</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Full-Stack Developer</h4>
            <h5>Nov 2023 - Jun 2024</h5>
            <p><em>Remote, Kakinada, AP</em></p>
            <ul>
              <li>Developed numerous clone websites (zomato website, Bookmyshow website).</li>
              <li>Managed up to 2 projects or tasks at a given time while under pressure</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Artificial Intelligence and Cyber Security</h4>
            <h5>May 2024 - Jul 2024</h5>
            <p><em>Remote, Kakinada, AP</em></p>
            <ul>
              <li>Developed numerous Ai programs (chatbots, object detection,image classification, speaking robot, and OWASP Juice Shop Challenges).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with mentor on the most appropriate chatbots.</li>
              <li>Created 4+ design presentations and proposals a month for the given task.</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section>

{% endblock body %}